
<p>
 <%= @job.title %>
</p>

<p>
  <%= @job.body %>
</p>

<%= link_to 'Edit', edit_user_job_path(@job) %>
<%= link_to 'Destroy', user_job_path(@job), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>