<% currently_at t('menu.edit_resume') %>
<%= render 'form' %>

<% if current_user && @resume && @resume.creator == current_user.username %>
  <div class="resume-container">
    <div class="row">
      <div class="col">
          <%= link_to t('pages.resumes.edit.delete'), user_resume_path(@resume), class: "text-danger", data: { turbo_method: :delete, turbo_confirm: "Вы уверены?" } %>
      </div>
    </div>
  </div>
<% end %>
